<div ng-controller=" link as vm">
	<h2>
	<md-icon class="md-default-theme" class="material-icons" md-svg-src="img/back.svg" title="Regresar" ng-click="vm.ruta('#/Configuracion')"></md-icon>
	Estadisticas.
	</h2>



<div ng-controller="subirFile" ng-init="showPeriodo();">


	<div ng-controller="reportes" layout="row" layout-align="center">
	
		<md-input-container flex-gt-sm="15" flex-gt-xs="15">
				<label>Semestre</label>   
				<md-select ng-change="cargarMaterias();" ng-model="semestre">
				<md-option ng-repeat="item in periodos"  value="{{item.codigo}}">{{item.descripcion}}</md-option>
				</md-select>
			</md-input-container>

		<md-input-container flex-gt-sm="15" flex-gt-xs="15">
			<label>Materia</label>
			<md-select ng-model="materia" ng-change="cargarSeccions();">
				<md-option ng-repeat="Materia in Materias"  value="{{Materia.codigoM}}">{{Materia.nombreM}}</md-option>
			</md-select>
		</md-input-container>

		<md-input-container flex-gt-sm="15" flex-gt-xs="15">
			<label>Sección</label>
			<md-select ng-model="seccion">
				<md-option ng-repeat="seccion in Secciones" value="{{seccion.codigoS}}">{{seccion.codigoS}}</md-option>
			</md-select>
		</md-input-container>
		
		<md-button  title="Resumen de notas" class="md-icon-button" aria-label="More"  ng-click="asistenciaExamen();" >
		<md-icon md-svg-src="img/view.svg"></md-icon>
	</md-button>
	
	</div>
	
		
	
</div>

</div>
