<h2>Reportes</h2>


<div ng-controller=" link as vm">
	
	<md-content layout-xs="column" layout-sm="column" layout="row">
		
		
		<md-card flex-gt-sm="20" flex-gt-xs="10" ng-click="vm.ruta('#/Reportes/asistenciaExamen')">
			<md-toolbar class="md-hue-1">
				<div class="md-toolbar-tools">
				  <h5 class="md-flex">Asistencia Examen</h5>
				</div>
  			</md-toolbar>
			<md-card-content>
				
			</md-card-content>
		</md-card>
		
		<md-card flex-gt-sm="20" flex-gt-xs="10" ng-click="vm.ruta('#/Configuracion/asignarMateria')">
			<md-toolbar class="md-primary md-hue-2">
				<div class="md-toolbar-tools">
				  <h5 class="md-flex">Asignar Materia</h5>
				</div>
  			</md-toolbar>
			<md-card-content>
				
			</md-card-content>
		</md-card>
		
		<md-card flex-gt-sm="20" flex-gt-xs="10" ng-click="vm.ruta('#/Configuracion/contenidoMateria')">
			<md-toolbar class="md-hue-1">
				<div class="md-toolbar-tools">
				  <h5 class="md-flex">Contenido Materia</h5>
				</div>
  			</md-toolbar>
			<md-card-content>
				
			</md-card-content>
		</md-card>
		
		<md-card flex-gt-sm="20" flex-gt-xs="10" ng-click="vm.ruta('#/Configuracion/deleteMateria')">
			<md-toolbar class="md-hue-2">
				<div class="md-toolbar-tools">
				  <h5 class="md-flex">Materias </h5>
				</div>
  			</md-toolbar>
			<md-card-content>
				
			</md-card-content>
		</md-card>
		
	</md-content>
	
	<md-content layout-xs="column" layout-sm="column" layout="row">
		<md-card flex-gt-sm="20" flex-gt-xs="10" ng-click="vm.ruta('#/Configuracion/listContenidoMateria')">
			<md-toolbar class="md-hue-2">
				<div class="md-toolbar-tools">
				  <h5 class="md-flex">List. Contenido Materia</h5>
				</div>
  			</md-toolbar>
			<md-card-content>
				
			</md-card-content>
		</md-card>

		<md-card flex-gt-sm="20" flex-gt-xs="10" ng-click="vm.ruta('#/Estadistica')">
			<md-toolbar class="md-hue-1">
				<div class="md-toolbar-tools">
				  <h5 class="md-flex">Estad&iacute;sticas</h5>
				</div>
  			</md-toolbar>
			<md-card-content>
				
			</md-card-content>
		</md-card>
	</md-content>
	
</div>