<div ng-controller=" link as vm">
<h2>
	<md-icon class="md-default-theme" class="material-icons" md-svg-src="img/back.svg" title="Regresar" ng-click="vm.ruta('#/Configuracion')"></md-icon>
Configuraciones Usuario.
</h2>
</div>

<div ng-controller="usuario" ng-init="selectUser();"  layout="column" layout-align="center" class="marginAuto" flex-gt-sm="70" flex-gt-xs="45" >              

        
        <div ng-repeat="item in user" >
        	
        	
        
        
        <div layout="row">
			<md-input-container flex-gt-sm="40" flex-gt-xs="45">
				<label>Cedula</label>
				<input type="text" ng-model="item.cedula" value="item.cedula">
			</md-input-container>
		</div>
        
        <div layout="row">

			<md-input-container flex-gt-sm="50" flex-gt-xs="45">
				<label>Apellido</label>
				<input type="text" ng-model="item.apellido">   

			</md-input-container>

			<md-input-container flex-gt-sm="50" flex-gt-xs="45">
				<label>Nombre</label>
				<input type="text" ng-model="item.nombre">  

			</md-input-container>
		</div>

        <div layout="row">
			<md-input-container flex-gt-sm="50" flex-gt-xs="45">
				<label>Correo</label>
				<input type="email" ng-model="item.correo" required>
			</md-input-container>
			
			<md-input-container flex-gt-sm="50" flex-gt-xs="45">
				<label>Clave</label>
				<input type="password" ng-model="item.clave" required>
			</md-input-container>
		</div>
        
       

        <md-input-container layout="row" layout-align="end center">
        <!--<input type="submit" value="Cargar" class="md-raised md-primary">-->
        <md-button type class="md-raised md-primary" ng-click="updateUser(item.cedula,item.apellido,item.nombre,item.correo,item.clave);">Guardar</md-button>
        </md-input-container>
        </div>


</div>